@import "tailwindcss";
@import "./fonts.css";

@theme {
  --color-black: #000000;       /* Negro */
  --color-gray-dark: #1E1E1E;   /* Plomo */
  --color-gray-3: #888888;      /* Gris 3 */
  --color-gray-2: #D9D9D9;      /* Gris 2 */
  --color-gray-1: #E9EAEF;      /* Gris 1 */
  --color-white: #FFFFFF;       /* Blanco */
  --color-red: #E42521;         /* Rojo */
  --color-blue: #242F5F;        /* Azul */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-gray-1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-red);
  border-radius: 50px;
  border: 3px solid var(--color-gray-1);
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c51d1a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-red) var(--color-gray-1);
}

