---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="min-h-screen flex flex-grow items-center justify-center bg-gray-50">
        <div class="rounded-lg bg-white p-8 text-center shadow-xl">
            <h1 class="mb-4 text-4xl font-bold">404</h1>
            <p class="text-gray-600">Oops! La página que estás buscando no se pudo encontrar.</p>
            <a href="/" class="mt-4 inline-block rounded bg-red px-4 py-2 font-semibold text-white">
                Regresar a Inicio </a>
        </div>
    </div>
</Layout>
