---
import Text from '@components/Text.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1 class="bg-blue text-white m-auto max-w-96 p-4 rounded-lg shadow-lg">
        2 misió2n es empoderar a la comunidad para que sea agente de cambio y transforme su entorno.
        testt
        <Text text='holasa' size="24px"/>
    </h1>
</Layout>

<style>
  body {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
</style>
