---
import {Image} from 'astro:assets';
import Text from "./ui/Text.astro";
import Section from './ui/Section.astro';
---

<Section
        id="donwloadApp"
        className="gap-11 scroll-mt-32"
>
        <div
                class="grid text-center w-[18.75rem] md:w-full gap-11"
        >
            <Text
                    as="h2"
                    color="red"
                    font="LeagueSpartan"
                    text="Construyamos juntos el Perú que queremos"
                    weight="bold"
                    className="text-[32px] leading-[34px] lg:text-[36px] lg:leading-[100%]"
            />
            <div
                    class="grid"
            >
                <Text
                        color="gray-dark"
                        text="Descarga Tapa tu Hueco y sé parte del cambio."
                        weight="light"
                        className="text-[18px] leading-[20px] lg:text-[20px] lg:leading-[100%]"
                />
                <Text
                        color="gray-dark"
                        text="Tu ciudad te necesita."
                        weight="light"
                        className="text-[18px] leading-[20px] lg:text-[20px] lg:leading-[100%]"
                />
            </div>
        </div>

        <div
                class="flex items-center gap-8 flex-col md:flex-row"
        >
            <Image
                    width={180}
                    height={60}
                    alt="GooglePlay"
                    src="/svg/GooglePlay.svg"
                    loading="lazy"
                    class=" cursor-pointer shrink-0"
            />
            <Image
                    width={180}
                    height={60}
                    alt="AppStore"
                    src="/svg/AppStore.svg"
                    loading="lazy"
                    class=" cursor-pointer shrink-0"
            />
        </div>
      <div class="h-full">
        <Image
            alt="ComputerSet"
            src="/img/ComputerSet.png"
            height={100}
            width={100}
            class="h-full w-full object-contain"
        />
      </div>
</Section>

<style is:inline>
  #donwloadApp {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    #donwloadApp {
      height: 100%;
    }
  }

</style>
