---
import Text from "./Text.astro";
---

<section class="grid items-center justify-items-center p-10 h-screen">
    <div class="grid gap-11">
        <div class="text-center">
            <Text font="LeagueSpartan"
                  weight="bold"
                  size="36px"
                  color="red"
                  text="Construyamos juntos el Perú que queremos"
            />
            <div>
                <Text size="20px"
                      weight="light"
                      text="Descarga Tapa tu Hueco y sé parte del cambio."
                />
                <Text size="20px"
                      weight="light"
                      text="Tu ciudad te necesita."
                />
            </div>
        </div>
        <div class="flex justify-center gap-9">
            <img class="cursor-pointer" src="/img/GooglePlay.png" alt="GooglePlay">
            <img class="cursor-pointer" src="/img/AppStore.png" alt="GooglePlay">
        </div>
        <img src="/img/ComputerSet.png" alt="ComputerSet">
    </div>
</section>
