---
import Text from "./ui/Text.astro";
---

<section
        id="donwloadApp"
        class="grid content-center gap-10 items-center justify-items-center h-screen"
>
    <div
            class="grid justify-items-center gap-11 px-10"
    >
        <div
                class="grid text-center w-[18.75rem] md:w-full gap-5"
        >
            <Text
                    as="h1"
                    color="red"
                    font="LeagueSpartan"
                    size="36px"
                    text="Construyamos juntos el Perú que queremos"
                    weight="bold"
                    className="leading-[2.188rem]"
            />
            <div
                    class="grid"
            >
                <Text
                        color="gray-dark"
                        text="Descarga Tapa tu Hueco y sé parte del cambio."
                        weight="light"
                        size="20px"
                />
                <Text
                        color="gray-dark"
                        text="Tu ciudad te necesita."
                        weight="light"
                        size="20px"
                />
            </div>
        </div>
        <div
                class="flex flex-col sm:flex-row justify-center gap-8"
        >
            <img
                    alt="GooglePlay"
                    class="cursor-pointer"
                    src="/img/GooglePlay.png"
                    loading="lazy"
            >
            <img
                    alt="GooglePlay"
                    class="cursor-pointer"
                    src="/img/AppStore.png"
                    loading="lazy"
            >
        </div>
    </div>
    <img
            alt="ComputerSet"
            src="/img/ComputerSet.png"
            loading="lazy"
    >
</section>
