---
import {Image} from 'astro:assets';
import Text from "./ui/Text.astro";
import Section from './ui/Section.astro';
---

<Section
        id="donwloadApp"
        className="gap-[20px] md:gap-[42px] scroll-mt-32"
>
        <div
                class="grid text-center justify-items-center w-[290px] md:w-[18.75rem] md:w-full gap-[20px]"
        >
            <Text
                    as="h2"
                    color="red"
                    font="LeagueSpartan"
                    text="Construyamos juntos el Perú que queremos"
                    weight="bold"
                    className="text-[32px] leading-[34px] lg:text-[36px] lg:leading-[100%]"
            />
            <div
                    class="grid"
            >
              <Text
                color="gray-dark"
                text={`Descarga Tapa tu Hueco y sé parte del cambio.\nTu ciudad te necesita.`}
                weight="light"
                className="text-[18px] leading-[20px] lg:text-[20px] lg:leading-[24px] w-[200px] md:w-[430px]"
              />
            </div>
        </div>

        <div
                class="flex items-center pt-[12px] md:pt-0 gap-8 flex-col md:flex-row"
        >
            <Image
                    width={180}
                    height={61}
                    alt="GooglePlay"
                    src="/svg/GooglePlay.svg"
                    loading="lazy"
                    class=" cursor-pointer shrink-0"
            />
            <Image
                    width={180}
                    height={61}
                    alt="AppStore"
                    src="/svg/AppStore.svg"
                    loading="lazy"
                    class=" cursor-pointer shrink-0"
            />
        </div>
      <div class="h-full pt-[25px] md:pt-0">
        <Image
            alt="ComputerSet"
            src="/img/ComputerSet.png"
            height={100}
            width={100}
            class="h-full w-full object-contain"
        />
      </div>
</Section>

<style is:inline>
  #donwloadApp {
    height: 100% !important;
    display: flex;
    flex-direction: column;;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    #donwloadApp {
      height: 100%;
    }
  }

</style>
