---
import {Image} from 'astro:assets';
import Text from "./ui/Text.astro";
---

<section
        id="donwloadApp"
        class="grid content-center gap-10 items-center justify-items-center h-screen scroll-mt-6 lg:scroll-mt-20"
>
    <div
            class="grid justify-items-center gap-11 px-10"
    >
        <div
                class="grid text-center w-[18.75rem] md:w-full gap-5"
        >
            <Text
                    as="h2"
                    color="red"
                    font="LeagueSpartan"
                    text="Construyamos juntos el Perú que queremos"
                    weight="bold"
                    className="text-[32px] leading-[34px] lg:text-[36px] leading-[100%]"
            />
            <div
                    class="grid"
            >
                <Text
                        color="gray-dark"
                        text="Descarga Tapa tu Hueco y sé parte del cambio."
                        weight="light"
                        className="text-[18px] leading-[20px] lg:text-[20px] lg:leading-[100%]"
                />
                <Text
                        color="gray-dark"
                        text="Tu ciudad te necesita."
                        weight="light"
                        className="text-[18px] leading-[20px] lg:text-[20px] lg:leading-[100%]"
                />
            </div>
        </div>
        <div
                class="flex flex-col sm:flex-row justify-center gap-8"
        >
            <Image
                    width={180}
                    height={60}
                    alt="GooglePlay"
                    class="cursor-pointer"
                    src="/svg/GooglePlay.svg"
                    loading="lazy"
            />
            <Image
                    width={180}
                    height={60}
                    alt="AppStore"
                    class="cursor-pointer"
                    loading="lazy"
                    src="/svg/AppStore.svg"
            />
        </div>
    </div>
    <Image
            alt="ComputerSet"
            class="w-auto object-contain h-full lg:h-[90%]"
            height={100}
            src="/img/ComputerSet.png"
            width={100}
    >
</section>

<style is:inline>
  @media (max-width: 1024px) and (orientation: landscape) {
    #donwloadApp {
      height: 100%;
    }
  }

</style>
