---
import Text from "./ui/Text.astro";
---

<div
        class="bg-[url(/img/BackGroundFooter.png)] grid md:flex md:justify-between"
>
    <div
            class="grid grid-cols-[auto_auto_auto] gap-10 md:gap-0 py-7 md:py-0 md:flex items-center justify-center"
    >
        <div
                class="grid justify-items-center shrink-[0] md:p-8 lg:px-16"
        >
            <img
                    src="/svg/LogoText.svg"
                    alt="LogoText"
            />
        </div>
        <div
                class="border-l-2 border-gray-3 h-[90px] md:h-[90%]"
        />
        <nav
                class="grid justify-items-center"
        >
            <ul
                    class="flex flex-col md:flex-row md:gap-5 lg:gap-10 md:px-10 lg:px-16"
            >
                <li>
                    <a
                            href="#header"
                    >
                        <Text
                                as="p"
                                color="gray-3"
                                font="Fredoka"
                                size="1.5rem"
                                text="Inicio"
                                weight="medium"
                        />
                    </a>
                </li>
                <li>
                    <a
                            href="#map"
                    >
                        <Text
                                as="p"
                                color="gray-3"
                                font="Fredoka"
                                size="1.5rem"
                                text="Mapa"
                                weight="medium"
                        />
                    </a>
                </li>
                <li>
                    <a
                            href="#us"
                    >
                        <Text
                                as="p"
                                color="gray-3"
                                font="Fredoka"
                                size="1.5rem"
                                text="Nosotros"
                                weight="medium"
                        />
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div
            class="pr-8 pb-8 py-0 md:py-8 lg:px-16 flex flex-col justify-end items-end text-end leading-[1rem]"
    >
        <a href="https://www.zycie.org/" target="_blank">
            <img src="/svg/LogoZycie.svg" alt="LogoZycie" class="h-9">
        </a>
        <Text
                as="p"
                color="gray-3"
                font="Fredoka"
                size="0.75rem"
                text="Powered by SMART GROUP PERU S.A.C"
                weight="regular"
        />

        <Text
                as="p"
                color="gray-3"
                font="Fredoka"
                size="0.75rem"
                text="© Todos los derechos reservados."
                weight="regular"
        />
    </div>
</div>