---
import Text from "./ui/Text.astro";
import Slider from "../react/Slider";
import Section from "./ui/Section.astro";
---

<Section
        id="functions"
        className="!p-0"
>
    <article
            class="grid lg:grid-cols-[1fr_.7fr] lg:justify-items-center items-center relative"
    >
        <div
                class="bg-gray-1 md:mx-7 rounded-[15px] px-9 pt-[41px] pb-[48px] lg:px-11 lg:py-20 grid lg:w-[34.625rem] lg:grid-cols-[2fr_1fr] h-fit relative z-0 m-[12px]"
        >
            <div class="grid gap-[20px]">
                <Text
                  as="h2"
                  color="blue"
                  font="LeagueSpartan"
                  text="Transforma tu ciudad con un clic"
                  weight="bold"
                  className="text-[32px] leading-[34px] lg:text-[58px] lg:leading-[57px]"
                />
                <Text
                  as="p"
                  color="gray-dark"
                  font="LeagueSpartan"
                  text="Descubre sobre nuestras funciones"
                  weight="light"
                  className="text-[18px] leading-[20px] lg:text-[20px] lg:leading-[100%]"
                />
            </div>
        </div>
        <div
                class="lg:absolute lg:top-1/2 lg:-translate-y-1/2 lg:right-[-30px] z-10"
        >
            <Slider
              client:idle
            />
        </div>
    </article>
</Section>

<style is:inline>
    @media (max-width: 1024px) and (orientation: landscape) {
        #functions {
            height: 100%;
        }
    }

</style>
