---
import Text from "./ui/Text.astro";
import Slider from "../react/Slider";
---

<section class="grid items-center justify-items-center p-16 h-screen">
    <div>
        <div class="bg-gray-1 rounded-[30px] p-11">
            <Text
                    className="leading-tight"
                    color="blue"
                    font="LeagueSpartan"
                    size="58px"
                    text="Transforma tu ciudad con un clic"
                    weight="semiBold"
            />
            <Text
                    color="gray-dark"
                    font="LeagueSpartan"
                    size="20px"
                    text="Descubre sobre nuestras funciones"
                    weight="light"
            />
        </div>

    </div>
</section>
