---
import Text from "./ui/Text.astro";
import Slider from "../react/Slider";
---

<section class="flex justify-center items-center h-screen p-16">
    <div class="grid grid-cols-[1fr_.7fr] items-center relative">
        <div class="bg-gray-1 rounded-[1.875rem] p-11 grid w-[34.625rem] grid-cols-[2fr_1fr] h-fit relative z-0">
            <div>
                <Text
                  className="leading-tight"
                  color="blue"
                  font="LeagueSpartan"
                  size="3.625rem"
                  text="Transforma tu ciudad con un clic"
                  weight="semiBold"
                />
                <Text
                  color="gray-dark"
                  font="LeagueSpartan"
                  size="1.25rem"
                  text="Descubre sobre nuestras funciones"
                  weight="light"
                />
            </div>
        </div>
        <div class="absolute top-1/2 -translate-y-1/2 right-[-30px] z-10">
            <Slider client:visible />
        </div>
    </div>
</section>
