---
import {Image} from 'astro:assets';
import Text from "./ui/Text.astro";
---

<header
        id="header"
        class="relative grid grid-rows-2  lg:grid-rows-1 lg:grid-cols-[1.8fr_1.2fr] bg-gray-1 h-screen lg:h-[115vh] w-full overflow-hidden"
        aria-label="Sección principal de Tapa Tu Hueco"
        style="clip-path: ellipse(120% 100% at 50% 0%);"
>
    <div
            id="imgHeader"
            class="absolute lg:-left-20 justify-center lg:min-w-[65%] h-full z-0 pointer-events-none"
    >
        <img
                alt="Fondo decorativo"
                class="w-full h-full object-cover"
                src="/img/BgLogo.png"
        />
    </div>
    <div
            id="header-left"
            class="p-6 px-10 lg:px-16 h-full relative flex w-full md:justify-center z-10"
    >
        <div
                class="flex flex-col text-center gap-6 items-center justify-end lg:justify-center max-w-[40rem] min-h-[100%] relative z-10 w-full"
        >
            <Text
                    as="h1"
                    color="gray-3"
                    font="Fredoka"
                    weight="regular"
                    className={"text-[32px] lg:text-[50px] lg:leading-[100%]"}
            >
                ¿Cansado de esquivar
                <Text
                        as="span"
                        color="red"
                        weight="medium"
                        text="baches"
                        className={"text-[32px] lg:text-[50px]"}
                />
                en cada esquina?
            </Text>

            <Text
                    as="p"
                    color="gray-dark"
                    font="LeagueSpartan"
                    weight="light"
                    className="text-[18px] leading-[20px] lg:text-[25px] lg:leading-[29px]"
            >
                Más que una app,
                <Text
                        as="span"
                        color="red"
                        font="LeagueSpartan"
                        weight="light"
                        text="Tapa tu hueco"
                        className="text-[18px] leading-[20px] lg:text-[25px] lg:leading-[29px]"
                />
                es un movimiento ciudadano que busca mejorar la calidad de vida de todos.
            </Text>

            <div class="flex">
                <a
                        href="#donwloadApp"
                        class="bg-red rounded-[29.5px] w-[153px] h-[45px] lg:w-[201px] lg:h-[59px] flex items-center justify-center cursor-pointer"
                >
                    <Text
                            as="p"
                            color="white"
                            font="Fredoka"
                            text="Empezar ahora"
                            weight="medium"
                            className="text-[14px] lg:text-[18px]"
                    />
                </a>
            </div>
        </div>
    </div>

    <div class=" relative flex items-end justify-end lg:justify-center lg:h-full z-10 -bottom-3.5 lg:-bottom-0">
        <Image
                width={100}
                height={100}
                src={"/gif/HandSmartPhone.gif"}
                alt={"Mano con Smartphone"}
                class="w-full object-contain lg:object-cover h-full"
        />
    </div>
</header>

<style is:inline>

  @media (max-width: 1024px) {
    #header {
      clip-path: none !important;
    }
  }

  video {
    height: 100%;
  }

  @media (max-width: 1449px) {
    img {
      height: 80%;
    }
  }

  @media (max-width: 1320px) {
    img {
      height: 70%;
    }
  }

  @media (max-width: 1024px) {
    img {
      height: 65%;
    }
  }

  @media (max-width: 1023px) {
    img {
      height: 100%;
    }
  }

  @media (min-width: 1450px) {
    img {
      height: 90%;
    }
  }

  @media (max-width: 1000px) and (orientation: landscape) {
    img {
      height: 80%;
    }

    #header {
      display: grid;
      grid-template-rows: 1fr;
      align-items: center;
    }

    #header-left {
      height: 100vh;
      display: grid;
      margin-top: 24px;
      align-content: center;
      padding-inline: 6px;
    }

    #imgHeader {
      display: none;
    }
  }
</style>
