---
import Text from "./ui/Text.astro";
---

<section
        class="relative grid grid-cols-[1.8fr_1.2fr] bg-gray-1 h-[115vh] w-full overflow-hidden"
        style="clip-path: ellipse(120% 100% at 50% 0%);"
>
    <!-- Contenedor del Logo -->
    <div
      class="absolute sm:left-0 md:-left-20 justify-center min-w-[65%] h-full z-0 pointer-events-none"
    >
        <img
          alt="Fondo decorativo"
          class="w-full h-full object-cover"
          src="/img/BgLogo.png"
        >
    </div>



    <div
            class="p-6 sm:px-16 h-full relative flex justify-center z-10"
    >
        <!-- Imagen de fondo -->

        <div
                class="flex flex-col text-center gap-6 items-center justify-center max-w-[40rem] min-h-[100%] relative z-10"
        >
            <!-- Título -->
            <Text
                    as="h1"
                    className="leading-tight md:leading-[60.5px]"
                    color="gray-3"
                    font="Fredoka"
                    size="3.125rem"
                    weight="regular"
            >
                ¿Cansado de esquivar
                <Text
                        as="span"
                        color="red"
                        size="3.125rem"
                        weight="medium"
                        text="baches"
                />
                en cada esquina?
            </Text>

            <!-- Descripción -->
            <Text
                    as="p"
                    color="gray-dark"
                    font="LeagueSpartan"
                    size="1.563rem"
                    weight="light"
            >
                Más que una app,
                <Text
                        as="span"
                        color="red"
                        size="1.563rem"
                        weight="light"
                        text="Tapa tu hueco"
                />
                es un movimiento ciudadano que busca mejorar la calidad de vida de todos.
            </Text>

            <!-- Botón -->
            <div class="flex">
                <button
                        class="bg-red rounded-full w-[13.75rem] h-[3.44rem] flex items-center justify-center cursor-pointer"
                >
                    <Text
                            as="p"
                            color="white"
                            font="Fredoka"
                            size="18px"
                            text="Empezar ahora"
                            weight="medium"
                    />
                </button>
            </div>
        </div>
    </div>

    <!-- Imagen del smartphone -->
    <div class="pr-10 relative flex items-end justify-center h-[115vh] z-10">
        <img
                alt="HandSmartPhone"
                class="w-auto max-w-[90%] object-contain h-[90%]"
                src="/img/HandSmartPhone.png"
        >
    </div>
</section>
