---
import Text from "./ui/Text.astro";
import Slider from "../react/Slider";
import Section from "./ui/Section.astro";
---

<Section
        id="map"
        className="scroll-mt-10 lg:scroll-mt-7"
>
    <div
            class="grid grid-rows-[.3fr_auto] md:grid-rows-1"
    >
        <div
                class="p-7 flex flex-col gap-4"
        >
            <Text
                    as="h2"
                    color="blue"
                    font="LeagueSpartan"
                    text="Descubre el poder de tu voz"
                    weight="bold"
                    className="text-[32px] leading-[34px] lg:text-[42px] lg:leading-[100%]"
            />
            <Text
                    as="p"
                    color="gray-dark"
                    font="LeagueSpartan"
                    text="Explora nuestro mapa interactivo y visualiza cómo los reportes de la comunidad están transformando nuestras calles."
                    weight="light"
                    className="text-[18px] leading-[20px] max-w-[540px]"
            />
        </div>
        <div class="relative w-full h-[665px] md:h-[570px] overflow-hidden md:rounded-[30px] md:border-[6px] border-white shadow-[0px_0px_30px_7px_#0000000D]">
            <iframe
                    allowfullscreen
                    width="100%"
                    height="665px"
                    src="https://mrc-fjord.jmaponline.net/services/ng/#ngAnonymous=true&ngProjectId=153"
                    class="absolute w-[130%] h-[120%] scale-[0.85] md:scale-[1] origin-top-left"
            ></iframe>
        </div>
    </div>
</Section>

<style is:inline>
  #map {
    padding: 0;
    @media (width >= 48rem ) {  justify-items: stretch;
      padding: 64px;
    }
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    #map {
      height: 100%;
    }
  }
</style>