---
import Text from "./ui/Text.astro";
import Slider from "../react/Slider";
---

<section id="map" class="flex items-center h-screen p-16">
    <div class="grid w-full">
        <div class="p-7 grid">
            <Text
                    color="blue"
                    font="LeagueSpartan"
                    size="2.625rem"
                    text="Descubre el poder de tu voz"
                    weight="bold"
            />
            <Text
                    color="gray-dark"
                    font="LeagueSpartan"
                    size="1.125rem"
                    text="Explora nuestro mapa interactivo y visualiza cómo los reportes de la comunidad están transformando nuestras calles."
                    weight="light"
                    className="w-[540px]"
            />
        </div>
        <div class="min-h-[35.625rem] bg-gray-1 rounded-[30px] flex items-center justify-center">
            test
        </div>
    </div>
</section>
