---
import Text from "./ui/Text.astro";
---

<section
        id="us"
        class="grid items-center justify-items-center p-3 md:p-16 h-screen"
>
    <article
            class="bg-red rounded-3xl p-16 grid md:grid-cols-[2fr_2.5fr] gap-8 max-w-6xl"
    >
        <div
                class="space-y-4"
        >
            <Text
                    as="h1"
                    className="leading-tight text-[30px] md:text-[44px]"
                    color="white"
                    font="LeagueSpartan"
                    text="Creemos que cada ciudadano tiene el derecho a vivir en una ciudad segura y limpia"
                    weight="semiBold"
            />
            <Text
                    color="white"
                    size="22px"
                    text="Nuestra misión es empoderar a la comunidad para que sea agente de cambio y transforme su entorno."
                    weight="light"
            />
        </div>
        <div
                class="flex items-center justify-center"
        >
            <img
                    alt="usAnimate"
                    class="max-w-full h-auto"
                    src="/img/UsAnimate.png"
                    loading="lazy"
            />
        </div>
    </article>
</section>
