---
import Text from "./Text.astro";
---

<section class="grid items-center justify-items-center p-16 h-screen">
    <div class="bg-red rounded-3xl p-16 grid grid-cols-[2fr_2.5fr] gap-8 max-w-6xl">
        <div class="space-y-4">
            <Text font="LeagueSpartan" weight="semiBold" size="44px"
                  color="white"
                  className="leading-tight"
                  text="Creemos que cada ciudadano tiene el derecho a vivir en una ciudad segura y limpia"
            />
            <Text size="22px" weight="light"
                  color="white"
                  text="Nuestra misión es empoderar a la comunidad para que sea agente de cambio y transforme su entorno."
            />
        </div>
        <div class="flex items-center justify-center">
            <img src="/img/UsAnimate.png" class="max-w-full h-auto" alt="usAnimate" />
        </div>
    </div>
</section>
