---
import Section from "./ui/Section.astro";
import Text from "./ui/Text.astro";
import {Image} from "astro:assets";
---

<Section
  id="us"
  className="scroll-mt-10"
>
    <article
      class="bg-red overflow-hidden md:px-20 md:py-16 flex flex-col md:flex-row justify-between gap-8 md:gap-12 md:h-[440px] rounded-[30px] md:grid md:items-center lg:grid-cols-[1fr_1fr] us-container"
    >
        <div class="grid gap-[33px] pb-0 px-12 py-12 md:px-0 md:py-0 md:max-w-[255px] lg:max-w-[430px] us-text">
            <Text
              as="h2"
              className="text-[30px] leading-[32px] lg:text-[44px] lg:leading-[45px]"
              color="white"
              font="LeagueSpartan"
              text="Creemos que cada ciudadano tiene el derecho a vivir en una ciudad segura y limpia"
              weight="semiBold"
            />
            <Text
              color="white"
              text="Nuestra misión es empoderar a la comunidad para que sea agente de cambio y transforme su entorno."
              weight="light"
              className="text-[22px] leading-[25px]"
            />
        </div>
        <video
          autoplay
          muted
          playsinline
          class="w-[427px] h-[324px] pb-6 md:pb-0 object-contain us-video"
        >
            <source src="/videos/UsAnimated.mp4" type="video/mp4" />.
        </video>

    </article>
</Section>



<style is:inline>

    @media (max-width: 1024px) and (orientation: landscape) {
        #us {
            height: auto;
         
        }
    }

</style>
